{% extends 'base.html' %}

{% block jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>This is us</h1>
        <p>This is a page is a redirect from the home page. It says what this site is about</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class='col-sm-12' style='text-align: center;'>
<h1>This is a practice Development server. Please do not give me money in the PayPay option</h1>
</div>

{% endblock %}
