{% extends 'base.html' %}

{% block jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>ce qu'il fait </h1>
        <p>Ce est une page est une page principale forme de redirection . Il dit ce que ce site fait mais en francais</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Apprendre Encore Plus &raquo;</a></p>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class='col-sm-12'  style='text-align: center;' >
<h1>Presque Absolument rien</h1>
</div>

{% endblock %}
