{% extends 'base.html' %}

{% block jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>What Programmes did i use? </h1>
        <p>Quite a lot actually</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn More &raquo;</a></p>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class='col-sm-12'  style='text-align: center;' >
<h1>Django</h1>
<h1>Komodo</h1>
<h1>Python</h1>
<h1>Xcode</h1>
<h1>Cyberduck</h1>
<h1>Terminal</h1>
<h1>pip south</h1>
<h1>pip django-registration</h1>
<h1>pip stripe</h1>
<h1>pip requests</h1>
<h1>pip virtualenv</h1>

</div>

{% endblock %}
