{% extends 'base.html' %}

{% block jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>What it Does </h1>
        <p>This is a page is a redirect form main page. It says what this site does</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class='col-sm-12'  style='text-align: center;' >
<h1>Almost Absolutely Nothing</h1>
</div>

{% endblock %}
